.BoardSquare {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid;
}

.white {
  background: white;
  color: black;
  border-color: white;
}

.black {
  background: black;
  color: white;
  border-color: black;
}

.hover:hover {
  cursor: pointer;
  background: sandybrown;
}

.selected {
  background: cadetblue;
}

.selected.black {
  border-color: transparent;
}
